{% extends 'base.html' %}

{% block content %}
  <h2>Информация о команде "{{ team.name }}"</h2>
  <p><strong>Описание команды:</strong> {{ team.description }}</p>
  <p><strong>Капитан команды:</strong> {{ team.captain.username }}</p>

  <h3>Члены команды:</h3>
  <ul>
    {% for member in members %}
      <li>{{ member.user.username }}</li>
    {% empty %}
      <li>В этой команде нет членов.</li>
    {% endfor %}
  </ul>  

{% if is_member %}
  <a class="button" href="{% url 'team:leave_team' team.id %}">Покинуть команду</a>
{% else %}
  <a class="button" href="{% url 'team:join_team' team.invite_link %}">Присоединиться к команде</a>
{% endif %}
<br>
{% if request.user == team.captain %}
    <a class="button" href="{% url 'team:delete_team' team.id %}">Удалить команду</a>
{% endif %}

{% endblock %}
